---
layout: blocks
slug: projects
title: Projects
---

<!--
{% for post in site.posts %}

	{% if post.assignments contains 'projects' %}
	{% if post.cover %}

		{% if post.type == 'gallery' %}
			{% include blocks/gallery.html %}
		{% else post.type = 'text' %}
			{% include blocks/text.html %}
		{% endif %}

	{% endif %}
	{% endif %}

{% endfor %}
-->

<div class="block block--related" data-x="left" data-y="" data-size="">

	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Aaron Morris</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Air Canada</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Babe</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Bad Day</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Bang Fitness</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Blood Orange</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Curriculum</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Death From Above 1979</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">DNS</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">MDFF</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">MSDS Studio</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Owen Pallett</p>
	</a>
	<a href="/projects/red-bull/basecamp.html" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Red Bull</p>
	</a>
	<a href="#" class="related__tile" data-col="2">
		<figure class="tile__img" style="background-image: url(/assets/images/sample04.jpg)"></figure>
		<p class="tile__label text--small">Sable &amp; Rosenfeld</p>
	</a>

</div>