.sg-projects {
    @include flexbox();
    @include flex-flow(row wrap);
    padding: $base*10 $base*2 $base*4 $base*4;
    position: relative;

    @include media-query($on-touch) {
        padding: $base*10 0 $base*2 $base*2;
    }

    .project {
        display: block;
        padding: 0 $base*2 $base*4 0;
        width: $full/3;

        .project__img {
            background-color: #EEE;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: $base*15;
            margin-bottom: $base*2;
        }
        .project__label {
            margin-left: -1px;
        }

        @include media-query($on-touch) {
            width: $full;
        }
    }
}

.block--related {
    @include flexbox();
    @include flex-flow(row wrap);
    padding: $base*4 $base*2 $base*4 $base*4;
    position: relative;
    overflow: hidden;

    @include media-query($on-touch) {
        padding: $base*2;
        padding-right: 0;
    }

    .related__tile {
        display: block;
        padding: 0 $base*2 $base*4 0;
        width: $full/3;
    
        .tile__img {
            background-color: #EEE;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: $base*15;
            margin-bottom: $base*2;
        }
        .tile__label {
            margin-left: -1px;
        }
    }
}