<div class="block block--text block--contact" data-size="" data-y="top" data-theme="dark">
	<article data-col="3">
		<p class="text--small">SHOW GROUP is an independent creative branding agency. We transform products, places and services into resonant brands and brand narratives that are seen, heard, clicked, shared, watched, read, worn, lived and carried across all mediums and channels. Because we believe that the successful brands of tomorrow must communicate in the same manner in which we interact with each other today: we see, we hear, we click, we share, we watch, we read, we wear, we live and we carry—in dialogue, and on a daily basis.</p>  
	</article>
	<article data-col="3">
		 <address class="text--small">
		 	Office:<br>
		 	515-263 Adelaide St. W.<br>
		 	Toronto, ON M5H 1Y2<br>
		 	+1 647 870 9406
		 </address>
		 <section class="text--small">If you’d like to discuss a project or learn more about our services, we’ve created an e-mail just for you. Reach out here: <a href="mailto:accounts@showgroup.ca">accounts@showgroup.ca</a></section>
		 <section class="text--small">Want to work with us? Send over a short introduction along with your work samples, portfolios, reels, stories or best offers: <a href="mailto:careers@showgroup.ca">careers@showgroup.ca</a></section>
	</article>
</div>