<!DOCTYPE html>
<html style="height:100%;">

    {% include head.html %}

    <body class="page--{{ page.slug }}">
    
        <header id="topbar" style="top:0;">
            <span class="sg-logo"><a href="/index.html" class="text--small">Show Group</a></span>
    
            <div class="sg-menu text--small" role="navigation">
                <span><a href="/projects" class="text--small">Projects</a>, </span>
                <span><a href="/studio" class="text--small">Studio</a>, and</span>
                <span><a href="#contact" class="text--small toggle--contact">Contact</a></span>
            </div>

            <a href="#" class="toggle toggle--menu">
                <span class="toggle__top"></span>
                <span class="toggle__centre"></span>
                <span class="toggle__bottom"></span>
            </a>
        </header>

        <div class="blocks">
            {{ content }}

            {% include contact.html %}
        </div>

    </body>

</html>
